.portfolio {
}

.categories {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 563px;
  margin: 80px auto;
}

.categories > li {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.portfolioList {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.portfolioItems {
  width: 370px;
  height: 416px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 39px 53px;
}

.categoryBtn {
  width: 102px;
  height: 38px;
  background-color: #fff;
  border: none;
  border-radius: 19px;
  font-size: 16px;
  color: #391400;
  outline: none;
  margin-bottom: 40px;
  cursor: pointer;
}

.portfolioItems > h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
}

.loadMore {
  display: flex;
  justify-content: center;
  margin-bottom: 184px;
}

.loadMoreBtn {
  width: 170px;
  height: 48px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
  color: #391400;
  cursor: pointer;
  box-shadow: 0 3px 9px rgba(57, 20, 0, 0.2);
  margin-top: 70px;
}
