.header {
  width: 100%;
  max-width: 100%;
  background-color: #28293e;
  padding-top: 16px;
  padding-bottom: 58px;
}

.navbar {
  width: 1169px;
  height: 48px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlist {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
  width: 522px;
}

.btn {
  width: 138px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  background: none;
  border-radius: 6px;
}

@media (max-width: 700px) {
  .navlist {
    display: none;
  }
  .navbar {
    width: 400px;
    justify-content: space-between;
  }
}

.headerInfo {
  margin-top: 93px;
}

.headerInfo > h1 {
  text-align: center;
  font-size: 72px;
  color: #ffffff;
  font-weight: 400;
}

.headerInfo > div {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 700px;
  margin: auto;
  line-height: 32px;
  font-size: 16px;
  margin-top: 34px;
}

@media (max-width: 375px) {
  .header {
    width: 375px;
  }
  .btn {
    display: none;
  }
  .headerInfo > h1 {
    font-size: 56px;
  }
  .navbar {
    justify-content: center;
  }
  .headerInfo > div {
    width: 329px;
    word-wrap: break-word;
  }
}

@media (max-width: 400px) {
  .header {
    width: 400px;
  }
  .btn {
    display: none;
  }
  .headerInfo > h1 {
    font-size: 56px;
  }
  .navbar {
    width: 375px;
    justify-content: center;
  }
  .headerInfo > div {
    width: 329px;
    word-wrap: break-word;
  }
}
